.button {
    border: none;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    background-color: var(--colors-el);
    color: var(--colors-text);
    border-radius: var(--border-rad);
    box-shadow: var(--shadow);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: var(--fw-normal);
    cursor: pointer;
}